[Desktop Entry]
Name=Revell T.V
Comment=Free English-language TV channels
Exec=qmlscene %U qml/Main.qml
Icon=assets/icon.png
Terminal=false
Type=Application
X-Lomiri-Touch=true
X-Lomiri-Splash-Color=#0A081C
X-Lomiri-Splash-Show-Header=false
